* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  height: 100vh;
}

.h-1 {
  color: #553f96;
  font-weight: 400;
  font-size: 1.6rem;
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin: auto 0;
  padding: 20px;
}

.img-container {
  max-width: 960px;
  height: 540px;
  margin: 0 auto;
  padding: 4px;
  border: 1px solid #e7e7e7;
  border-radius: 8px;
  margin: 10px 0;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 8px;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 7px 24px;
  border: none;
  background-color: #553f96;
  color: white;
  border-radius: 2px;
  font-size: 0.85rem;
}

.btn:hover {
  background-color: #635197;
  cursor: pointer;
}
