* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.img-container {
  max-width: 1024px;
  height: 600px;
  margin: 0 auto;
}

img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.btn-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
