* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 40px;
}
.inner-container {
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid #e4e4e4;
  padding: 20px;
}

.h-1 {
  text-align: center;
  color: red;
  font-weight: 500;
  border-bottom: 2px solid #e8e8e8;
  padding-left: 10px;
}
