* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.container {
  padding: 40px;
}
.inner-container {
  max-width: 768px;
  margin: 0 auto;
  border: 1px solid #e9e9e9;
  padding: 20px;
}

.h-1 {
  text-align: center;
  color: blue;
  font-weight: 500;
  border-bottom: 2px solid #e8e8e8;
  padding-left: 10px;
}

.todo-input-container {
  margin: 20px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.todo-input-container input {
  width: 80%;
  padding: 8px;
  border: 1px solid #e8e8e8;
  border-radius: 4px;
  color: #969696;
  font-size: 0.95rem;
}

.todo-input-container .btn {
  padding: 8px 18px;
  border: none;
  background-color: blue;
  color: white;
  border-radius: 4px;
  font-size: 0.95rem;
}

.todo-input-container .btn:hover {
  background-color: rgb(89, 89, 252);
  cursor: pointer;
}

.todo-list-item {
  display: flex;
  align-items: center;
  justify-content: start;
  list-style-type: none;
  padding: 8px 0;
  border-bottom: 1px solid #e8e8e8;
  max-width: 600px;
}

.todo-text {
  margin-left: 5px;
}
