* {
  box-sizing: border-box;
}

body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  padding: 20px 40px;
}

.h-1 {
  color: #f2042a;
  font-weight: 500;
}

.h-2 {
  font-weight: 300;
}

.btn {
  padding: 8px 18px;
  color: white;
  background-color: #f2042a;
  border: none;
  border-radius: 4px;
  font-size: 0.85rem;
}

.btn:hover {
  cursor: pointer;
  background-color: rgb(247, 41, 41);
}

.display-color {
  margin-top: 20px;
  width: 100%;
  height: 280px;
  background-color: #f2042a;
  border-radius: 4px;
}

.hex-code {
  font-weight: 500;
  text-decoration: underline;
}
